<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile border-bottom">
            <a href="#" class="nav-link flex-column">
                <div class="nav-profile-image">
                    <img th:src="@{/images/we-bare-bears.png}" alt="profile" />
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
                    <span class="font-weight-semibold mb-1 mt-2 text-center"
                        sec:authentication="principal.name">Name</span>
                    <span class="text-secondary icon-sm text-center"
                        sec:authentication="principal.username">Email</span>
                </div>
            </a>
        </li>
        <li class="pt-2 pb-1">
            <span class="nav-item-head">MENU</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">
                <i class="mdi mdi-compass-outline menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/pasien}">
                <i class="mdi mdi-table-large menu-icon"></i>
                <span class="menu-title">Data Pasien</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-table-large menu-icon"></i>
                <span class="menu-title">Data Swap</span>
            </a>
        </li>
    </ul>
</nav>