<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="partial/_header">
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <div th:insert="partial/_sidebar"></div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            <div th:insert="partial/_navbar"></div>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper pb-0">
                    <div class="page-header flex-wrap">
                        <div class="header-left">
                        </div>
                        <div class="header-right d-flex flex-wrap mt-2 mt-sm-0">
                            <div class="d-flex align-items-center">
                                <a href="#">
                                    <p class="m-0 pr-3">Concern against COVID-19</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-body">
                                    <img th:src="@{images/covid-19-logo.png}" class="mb-4" width="150px" alt="">
                                    <h2>Aplikasi pendataan pasien terindikasi COVID</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 stretch-card grid-margin">
                            <div class="card color-card-wrapper">
                                <div class="card-body">
                                    <img class="img-fluid card-top-img w-100" th:src="@{/images/pattern-background.jpg}"
                                        alt="" />
                                    <div class="d-flex flex-wrap justify-content-around color-card-outer">
                                        <div class="col-6 p-0 mb-4">
                                            <div class="color-card primary m-auto p-3">
                                                <i class="mdi mdi-account"></i>
                                                <p class="font-weight-semibold mb-0">User Terdaftar</p>
                                                <span class="small" th:inline="text">[[${countUser}]] User</span>
                                            </div>
                                        </div>
                                        <div class="col-6 p-0 mb-4">
                                            <div class="color-card bg-success m-auto">
                                                <i class="mdi mdi-table"></i>
                                                <p class="font-weight-semibold mb-0">Anamnesa</p>
                                                <span class="small" th:inline="text">[[${countAnamnesa}]] Anamnesa</span>
                                            </div>
                                        </div>
                                        <div class="col-6 p-0">
                                            <div class="color-card bg-info m-auto">
                                                <i class="mdi mdi-hotel"></i>
                                                <p class="font-weight-semibold mb-0">Pasien</p>
                                                <span class="small" th:inline="text">[[${countPasien}]] Orang</span>
                                            </div>
                                        </div>
                                        <div class="col-6 p-0">
                                            <div class="color-card bg-danger m-auto">
                                                <i class="mdi mdi-heart-pulse"></i>
                                                <p class="font-weight-semibold mb-0">Positif Covid</p>
                                                <span class="small">? Orang</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- first row starts here -->
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <div th:insert="partial/_footer"></div>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <div th:insert="partial/_js"></div>
</body>

</html>